* {
  padding: 0;
  margin: 0;
  border: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: $minWidth + px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--color-text-main);
  @include adaptiveValue('font-size', $fontSizeMain, 14);
  line-height: $lineHeightMain;
  letter-spacing: $letterSpacingMain;
  font-family: $fontFamilyMain;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  user-select: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}
