.chapters {
  background-color: var(--color-off-white);

  &__container {
    @include adaptiveValue('padding-block', 148, 96);

    & .h3 {
      @include adaptiveValue('margin-bottom', 50, 32);
    }
  }
}

.chapters-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 630px));
  gap: 40px;
  margin-bottom: 79px;

  @media (max-width: $mobileMedium) {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('padding-block', 44, 22);
    @include adaptiveValue('padding-inline', 54, 27);
    background-color: #fff;
    box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);

    @media (max-width: $mobileMedium) {
      box-shadow: 0 16px 12px rgba(4, 11, 20, 0.04);
    }

    @media (max-width: $mobileSmall) {
      box-shadow: 0 10px 8px rgba(4, 11, 20, 0.04);
    }
  }

  & .h5 {
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 18px;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-top: auto;
    width: 100%;
    max-width: 465px;

    @media (max-width: $mobileMedium) {
      max-width: 400px;
    }

    & li {
      &:first-child {
        @include adaptiveValue('width', 194, 144);
      }
      &:last-child {
        @include adaptiveValue('width', 240, 180);
      }

      & .h6 {
        margin-right: 9px;
      }

      & span {
        @include adaptiveValue('font-size', 18, 14);
        line-height: 1.7;
      }
    }
  }
}

.chapters-callout {
  margin-inline: auto;
  max-width: 434px;

  &__button {
    @extend .button;
    margin-bottom: 32px;
    width: 100%;
    max-width: initial;
  }

  &__text {
    margin-inline: auto;
    max-width: 322px;
    text-align: center;
    @include adaptiveValue('font-size', 18, 14);
    line-height: 1.7;
    letter-spacing: normal;
  }

  &__link {
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      text-decoration: underline;
    }
  }
}
