<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="css/style.min.css">
		<title>{{ title }}</title>
	</head>
	<body>
		{% include './../includes/cart.twig' %}
		{% include './../includes/header.twig' %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include './../includes/footer.twig' %}
		{% block scripts %}{% endblock %}
		<script src="./js/app.min.js"></script>
	</body>
</html>
