<section class="chapters">
  <div class="chapters__container">
    <h3 class="h3">The Chapters Includes</h3>

    <ul class="chapters-list">
      {% for chapter in chapters %}
      <li class="chapters-list__item">
        <h5 class="h5">{{ chapter.title }}</h5>
        <p class="chapters-list__text">{{ chapter.text }}</p>
        <ul class="chapters-list__details">
          <li class="li--bullet">
            <h6 class="h6 h6--dark">Pages :</h6>
            <span>{{ chapter.details.pages }}</span>
          </li>
          <li class="li--bullet">
            <h6 class="h6 h6--dark">Length :</h6>
            <span>{{ chapter.details.length }}</span>
          </li>
        </ul>
      </li>
      {% endfor %}
    </ul>

    <div class="chapters-callout">
      <button class="chapters-callout__button" type="button">
        Start a 15-Days Free Trial
      </button>
      <p class="chapters-callout__text">
        Short description about each chapter. Have any questions?
        <a class="chapters-callout__link" href="./contact.html">Contact us</a>
      </p>
    </div>
  </div>
</section>
