<header class="header">
	<div class="header__container">
		<a class="header__logo" href="./index.html">
			<img src="./images/logo.png" alt="logo">
		</a>

		<nav class="menu">
			<ul class="menu__list">
				<li>
					<a href="./index.html" class="menu__link menu__link--current">Home</a>
				</li>
				<li>
					<a href="#" class="menu__link">Portfolio</a>
				</li>
				<li>
					<a href="#" class="menu__link">About</a>
				</li>
				<li>
					<a href="#" class="menu__link">Contacts</a>
				</li>
			</ul>
		</nav>

		<button class="header__burger">
			<span></span>
		</button>

		<button data-da=".menu, 767.98" class="header__button" type="button">Get started</button>
	</div>
</header>
