<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div>
        <div class="hero-content">
          <p class="hero-content__pretitle">Welcome to Pages</p>
          <h1 class="h1">Books are uniquely portable magic</h1>
          <p class="hero-content__text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form.
          </p>
        </div>

        <div class="hero-buttons">
          {% include './../components/button.twig' with {'text': 'Order today'}
          %} {% include './../components/button.twig' with {'text': 'Read Free
          Demo', 'classes': 'button--secondary-white'} %}
        </div>

        <ul class="hero-details" data-da=".hero__container, 991.98, 2">
          <li class="li--bullet">
            <div>
              <h5 class="h5 h5--white">Pages:</h5>
              <p>586 pages</p>
            </div>
          </li>
          <li class="li--bullet">
            <div>
              <h5 class="h5 h5--white">Length:</h5>
              <p>10 hours</p>
            </div>
          </li>
          <li class="li--bullet">
            <div>
              <h5 class="h5 h5--white">Rating:</h5>
              <p>4.5/5 <span>(305 ratings)</span></p>
            </div>
          </li>
        </ul>
      </div>

      <img
        src="./images/Home/hero.jpg"
        alt="book cover"
        data-da=".hero-content, 767.98, 2"
      />
    </div>
  </div>
</section>
