<section class="hero-pages">
  <div class="hero-pages__container">
    <h1 class="h2">{{ pageTitle }}</h1>
    <p class="hero-pages__text">
      There are many variations of passages of Lorem Ipsum available, have
      suffered alteration in some form.
    </p>
  </div>
</section>
