<section class="newsletter">
  <div class="newsletter__container newsletter__container--home">
    <div class="newsletter__body">
      <h3 class="h3 h3--after-dark">Read a free chapter</h3>

      <div class="newsletter__text">
        Making this the first true value generator on the Internet. It of over
        200 Latin words, combined with a handful.
      </div>

      <form class="newsletter-form">
        <input
          class="newsletter-form__input"
          type="email"
          placeholder="Your Email"
          required
        />

        <button class="newsletter-form__button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
