<section class="promo">
  <div class="promo__container">
    <div class="promo__body">
      <div class="promo-content">
        <h3 class="h3 h3--white h3--after-left">Get Book Copy Today!</h3>
        <p class="promo-content__text">
          This the first true value generator on the Internet. It uses alphas
          dictionary of over 200 Latin words.
        </p>
        {% include './../components/link-btn.twig' with {'text': 'Order Today',
        'classes': 'button--transparent-white', 'link': './images/promo.png', 'download': 'true'} %}
      </div>

      <img src="./images/promo.png" alt="a cup of coffee on an open book" />
    </div>
  </div>
</section>
